*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.main{
  margin:50px 20px;
  height:530px;
  width:150vh;
  border: 2px solid rgb(7, 13, 125);
  
}
.top,.bottom{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  margin: 20px 0 10px 0;

}
.canvas{
  width:100vh;
  height:250px;
  background-color: black;
}